<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Articles', articles_path, class:"nav-link"%>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%if user_signed_in?%>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          <%else%>
            <%= link_to "Inscription", new_user_registration_path, class:"dropdown-item" %>
            <%= link_to "Se connecter", new_user_session_path, class:"dropdown-item" %>
          <%end%>
        </div>
      </li>
    </div>
  </nav>
