.section {
  background-color: rgb(120, 120, 120);
  margin-bottom: 10px;
  color: white;
}

input,
textarea {
  background-color: rgb(120, 120, 120);
  appearance: none;
  border: none;
  color: white;
  font-weight: bold;
}
